html{
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* INTRO CLASSES */
.intro{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/desktop/image-header.jpg");
    background-position:center;
    background-size: cover;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    position: relative;
}

.logo{
    cursor: pointer;
}

header ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

header li{
    display: flex;
    align-items: center;
    list-style: none;
}

header a{
    text-decoration: none;
    color: white;
    
}

header button{
    background-color: white;
    border: none;
    font-size: 0.8rem;
    font-family: 'Fraunces', serif;
    border-radius: 1.5rem;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

header button:hover{
    background-color: #6dd0ff;
    color: white;
}

.triangle{
    display: none;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.intro h1{
    font-size: 3.5rem;
    color: white;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.5rem;
    margin-top: 4rem;
    text-align: center;
}

.arrow-icon{
    margin-top: 5rem;
    height: 7.5rem;
}


/* SERVICES CLASSES */

.services{
    width: 100%;
}

.row1{
    display: flex;
    flex-wrap: wrap-reverse;
}

.row2{
    display: flex;
    flex-wrap: wrap;
}


.transform, .transform-img, .stand, .stand-img, .graphic-design, .photography{
    width: 50%;
    min-height: 80vh;
}

.transform, .stand{
    display: flex;
    justify-content: center;
    background-color: #fffbf8;
}

.transform div, .stand div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    gap: 2rem
}

.services h3{
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    
    text-align:start;
}

.services p{
    line-height: 1.6rem;
    color: hsl(213, 9%, 39%);
}

.services a{
    color: black;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    align-self: flex-start;
    font-weight: 900;
    position: relative;
    z-index: 100;
}

.transform a:before, .stand a:before{
    content: " ";
    width: 120%;
    height: 0.75rem;
    border-radius: 1rem;
    position: absolute;
    bottom: -0.2rem;
    left: -0.65rem;
    transition: all 0.3s ease-in-out;
    z-index: -2;
}

.transform a:before{
    background-color:  hsla(51, 100%, 49%,0.5);
}


.transform a:hover:before{
    background-color:  hsl(51, 100%, 49%);
}

.stand a:before{
    background-color:  hsla(7, 99%, 70%,0.5);
}

.stand a:hover:before{
    background-color:  hsla(7, 99%, 70%);
}


.transform-img{
    background-image: url("images/desktop/image-transform.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.stand-img{
    background-image: url("images/desktop/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ACTIVITIES CLASSES */
.activities{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.graphic-design, .photography{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.graphic-design div, .photography div{
    display: flex;
    flex-direction: column;
    width: 22rem;
    gap: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}


.graphic-design{
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: hsl(167, 40%, 24%);
}

.photography{
    background-image: url("images/desktop/image-photography.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: hsl(198, 62%, 26%);
}

.activities h3{
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.activities p{
    font-size: 1rem;
    text-align:center;
    line-height: 1.6rem;
}


/* TESTIMONIALS CLASSES */

.testimonials{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffbf8;
    gap: 3rem;
}

.testimonials h4{
    font-family: 'Fraunces', serif;
    color: hsl(210, 4%, 67%);
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}



.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    gap: 3rem;
}

.card img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.card p{
    text-align: center;
    line-height: 1.6rem;
    color: hsl(213, 9%, 39%);
}

.signature h5{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
}

.signature p{
    text-align: center;
    color: hsl(210, 4%, 67%);
    font-size: 0.9rem;
}


/* END IMAGES CLASSES */

.end-images{
    display: flex;
    min-height: 60vh;
    flex-wrap: wrap;
}

.end-images div{
    width: 25%;
}

.milk{
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.orange{
    background-image: url("images/desktop/image-gallery-orange.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icecream{
    background-image: url("images/desktop/image-gallery-cone.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cubes{
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* FOOTER CLASSES */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 50vh;
    background-color: #91d3c5;
    color: hsl(167, 40%, 24%);
    gap: 2rem;
}

footer h5{
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}

.footer-links{
    display: flex;
    gap: 3rem;
}

.footer-links a{
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.footer-links a:hover{
    color: white;
}

.footer-icons{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.footer-icons i{
    font-size: 1.4rem;
    color: hsl(167, 40%, 24%);
    transition: all 0.3s ease;
}

.footer-icons i:hover{
    color: white;
}




/*MEDIA QUERIES */

@media (max-width: 678px){


        /* INTRO CLASSES */

    header{
        padding: 1.5rem 1rem;
    }

    header ul{
        display: none;
        background-color: white;
        gap: 2.5rem;
        padding: 1.5rem 0;
    }

    ul a{
        color: hsl(232, 10%, 55%);
    }

    header button{
        background-color:  hsl(51, 100%, 49%);
 
    }

    .triangle{
        display: flex;
        position: absolute;
        top:-1.25rem;
        right: 0rem;
        width: 0;
        height: 0;
        border-right: 10px solid white;
        border-top: 10px solid white;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        transform: rotate(90deg);
    }
    

    .menu-active{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 5rem;
        right: 4%;
        height: 56.5vh;
        width: 92%;
        position: absolute;
    }

    .hamburguer{
        display: flex;
    }

    .intro h1{
        font-size: 2.5rem;
    }

    .arrow-icon{
        margin-top: 2.5rem;
        height: 7.5rem;
    }

    .intro{
        background-image: url("images/mobile/image-header.jpg");
    }

    /* SERVICES CLASES */

    .transform, .stand{
        padding: 1.5rem;
    }

    .services h3, .services p, .services a{
        text-align: center;
        align-self: center;
    }

    .services h3{
        font-size: 2rem;
    }

    .transform, .transform-img, .stand, .stand-img, .graphic-design, .photography{
        width: 100%;

    }

    .transform-img{
        background-image: url("images/mobile/image-transform.jpg");

    }
    
    .stand-img{
        background-image: url("images/mobile/image-stand-out.jpg");

    }

    /* ACTIVITIES CLASSES */

    .activities{
        flex-direction: column;
    }

    .graphic-design, .photography{
        padding: 0 1rem;
    }

    .graphic-design{
        background-image: url("images/mobile/image-graphic-design.jpg");
        background-position:unset;
        background-size: cover;
        min-height: 100vh;
    }
    
    .photography{
        background-image: url("images/mobile/image-photography.jpg");
        background-position:unset;
        background-size: cover;
        min-height: 100vh;
    }



  /* TESTIMONIAL CLASSES */

    .testimonials{
        padding: 4rem 0rem;
    }

    .testimonials h4{
        font-size: 1rem;
    }

    .card{
        padding: 0 1rem;
    }


    /* END IMAGES CLASSES */

    .end-images{
    min-height: 80vh;
    }

    .end-images div{
        width: 50%;
        background-color: black;
    }

    .milk{
        background-image: url("images/mobile/image-gallery-milkbottles.jpg");
        background-size: cover;
    }
    
    .orange{
        background-image: url("images/mobile/image-gallery-orange.jpg");

    }
    
    .icecream{
        background-image: url("images/mobile/image-gallery-cone.jpg");

    }
    
    .cubes{
        background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");

    }

}